<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_gallery"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_menu_gallery"
        android:supportsRtl="true"
        android:theme="@style/Theme.BanHangApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerProductListActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerCartActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerCheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerOrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SellerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".SellerManageCustomersActivity"
            android:exported="false" />
        <activity
            android:name=".SellerManageInventoryActivity"
            android:exported="false" />
        <activity
            android:name=".SellerManagePromotionsActivity"
            android:exported="false" />
        <activity
            android:name=".SellerStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".SellerTrackSalesActivity"
            android:exported="false" />
    </application>

</manifest>
